.titre{
    color: black;
    margin-left: -400%;
    margin-top: 20%;
}
.ajouter > .buttonn{
    margin-left: -10%;
    background-color: #01a2dd !important;
}
.colorae{
    background-color: #01a2dd !important;
    color: white;
}
.buttonn{
    color: #01a2dd;
}
.ajouter{

}
.titreea{
    color: black;
    margin-left: -400%;
    margin-top: 20%;
}